@page
@model tttServer.Pages.AboutModel
@{
}
<div class="text-center">

    <br />

    <h1>Tic tac toe</h1>

    <br />
    <br />

    <h5>by Nathan Amiel and Vadim Kandaurov</h5>
    <div>
        <a asp-page="Index">Back</a>
    </div>
</div>


