@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <br /><br />
    <br /><br />

    <h1 class="display-4">Tic Tac Toe</h1>
    <br /><br />
    <br /><br />

    <h4>Options:</h4>
    <a href="/Players/Create">Register</a>
    <br />
    <a href="/Queries">Make Queries</a>
    <br />
    <a href="/About">About</a>

</div>
