@page
@model tttServer.Pages.QueriesModel
@{
}
<div class="text-center">

    <br />

    <h1>Queries</h1>

    <br />

    <p>
        <a href="/Players">Show all players</a>
    </p>

    <p>
        <a href="/Games">Show all games</a>
    </p>

    <p style="border-color">Select user to see his games:</p>


    <form method="post" asp-page-handler="MyMethod">
        <select class="form-control"
                asp-for="Username"
                asp-items="Model.Usernames"
                onchange="this.form.submit();">
            <option value="">-- Select Player --</option>
        </select>

    </form>

    <p>

    <p>
        <a href="/PlayerGames">Show players and how many games they played</a>
    </p>

    <p>
        <a href="/PlayersByGamesDesc">Show player details by games descending</a>
    </p>


    <br /><br />


</div>
