@page
@model tttServer.Models.TblPlayers
@{
}
<div class="text-center">

    <br />

    <h1>Queries</h1>

    <br />
    <br />

    <a href="/Players">Show all players</a>
    <br />
    <a href="/Games">Show all games</a>
    <br />
    <a href="">Combo box</a>
    <br />
    <a href="">Show players and how many games they played</a>
    <br />
    <a href="">Show table with players by games played DESC</a>

</div>