@page
@model tttServer.Pages.Players.RegistrationSuccessModel
@{


    <div class="text-center">

        <br />

        <h1>Registration Successfull!</h1>

        <br />
        <br />

        <h5>Please log into the app!</h5>
        <div>
            <a asp-page="Index">Back</a>
        </div>
    </div>
}





